# VCS
.git/
.gitignore

# Build outputs
node_modules/
target/
build/
dist/
coverage/

# Terraform and local state
.terraform/
*.tfstate.*

# Env and secrets
.env
.env.*

# Logs
*.log

# Docker files
Dockerfile*
.dockerignore
